:root{
  --fondo : #f5f5f5;
  --verde : green;
  --rojo : red;
}

* {
  margin:0;
  padding: 0;
}

li{
  text-decoration: none;
}

button{
  margin: 0 auto 0 auto !important;
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main{
  background-color: white;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto 0 auto;
}

.block{
  display: block;
  margin-left: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 150px;
  background-color: var(--fondo);
}

h3{
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

#cross{
  color:var(--rojo);
}

#check{
  color:var(--verde);
}

.App-footer {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: white;
}